body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(./Source/pexels-eberhardgross-1624496.jpg.avif);
    background-size: contain;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
   
}

#loginbox{
position: relative;
z-index: 2;
height: 60vh;
width: 50vw;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
backdrop-filter: blur(5px);
overflow-x: hidden;
overflow-y: hidden;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.18);
backdrop-filter: blur(6.9px);
border: 1px solid rgba(255, 255, 255, 0.33);
min-width: 300px;
max-width: 50vw;
}

.password{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 3px;
    
}

.password input{
    width: 35vw;
    border-radius: 5px;
    height: 3vh;
    
}

.password label{
    font-size: 1.2rem;
    position: relative;
    z-index:2;
    color: white;
}
.email label{
    font-size: 1.2rem;
    color: white;
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.email input{
    width:35vw;
    border-radius: 5px;
    height:3vh;
}
.socialLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialLinks Button{
    background-color: white;
    width: 5rem;
    border-radius: 10px;
}
.socialLinks Button a{
    color: black;
}

#loginbox div:nth-child(4) button{
    background-color: rgb(189,12,71);
    width: 35vw;
    font-size:0.8rem;
    height: 5vh;
    border: 0.5px solid white;
    border-radius: 10px;
    color:white;
}
